.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.body {
  width: 80;
  margin: 10vh !important;
}
