.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.body {
  width: 80;
  margin: 10vh !important;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d3/Pablo_Picasso%2C_summer_1912.jpg");  
  background-repeat: no-repeat;
  background-sixe: 100%;
}
